/* main TAG */
.characterEditor {
    padding-top: 128px;
    padding-bottom: 64px;
}

.maxWidthWrapper {
    position: relative;
}

.header {
    padding-bottom: 64px;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
}

.description {
    font-size: 1.25rem;
    margin: 0;
}

.characterWrapper {
    display: block;
    min-height: 500px;
    position: fixed;
    top: 10%;
    left: 60%;
    /* The character SVG disappears, it's likely because it needs to be given an explicit width/height..
        with this prop the character height is 5% from the bottom edge  */
    bottom: 20%; /* --> automatically define the character height */
}

.mobileCharacter {
    display: none;
}

.perspectiveBox {
    position: fixed;
    background-color: hsl(195deg, 20%, 86%);
    top: 60%;
    height: 40%;
    width: 100%;
    left: 0;
}

@media only screen and (max-width: 700px) {
    .header {
        width: 100%;
        padding: 0 20px 20px 20px;
    }

    /* main TAG */
    .characterEditor {
        padding-top: 20px;
    }

    .mobileCharacter {
        margin-inline: auto;
        display: block;
    }

    .characterWrapper {
        display: none;
    }

    .controlColumn {
        padding: 10px;
        position: absolute;
        top: 65%;
        max-width: 100%;
        display: inline-flex;
        overflow-x: scroll;
    }

    .controlColumn::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }

}

@media only screen and (min-width: 701px) {
    .header {
        width: 65%;
    }

    .controlColumn {
        width: 50%;
    }
}
