.footer {
    position: relative;
    padding: 64px;
    background: hsl(0deg, 0%, 5%);
    color: white;
    text-align: center;
}

footer a {
    color: inherit; /* eredito il colore del parent, oppure lo specifico con "color:white" */
}

@media only screen and (max-width: 700px) {
    .footer {
        padding: 27px 0 27px 0;
    }
}